@model LiteCommerce.Models.AttributePaginationResult

@{
    ViewData["Title"] = "Category";
    ViewData["HeaderTitle"] = "Manage Attributes";
    int i = 0;
}

@functions{
    public string maybeSearchQuery(string SearchValue) {
        return SearchValue != "" 
            ? string.Format("&searchvalue={0}", SearchValue)
            : "";
    }
    public string justPageQuery(int page) {
        return "page=" + page;
    }
    public string singularOrPluralWord(int count, string singularWord, string pluralWord) {
        return count > 1
            ? pluralWord
            : singularWord;
    }
}

<div class="box box-primary">
    <div class="box-body">
        <div class="form-group row">
            <div class="col-sm-6">
                <form action="~/Attributes" method="GET" >
                    <div class="input-group">
                        <select class="form-control" name="CategoryID">
                            @foreach (var category in LiteCommerce.SelectListHelper.Categories())
                            {
                                if(Model.CategoryID == category.Value)
                                {
                                    <option value="@category.Value" selected>@category.Text</option>
                                } else 
                                {
                                    <option value="@category.Value">@category.Text</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-block btn-success">Select</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form id="delete-selected" action="~/Attributes/Delete" method="POST">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> @singularOrPluralWord(Model.RowCount, "category","categories").
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Attributes/Input" class="btn btn-sm btn-primary">Add Attribute</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Attributes</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" id="checkAll"/>
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:200px">Attribute Name</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var atrribute in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="AttributeIDs" value="@atrribute.AttributeID"/>
                            </td>
                            <td>@(++i)</td>
                            <td><p>@atrribute.AttributeName</p></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Attributes/Input/@atrribute.AttributeID/">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>