@model LiteCommerce.DomainModels.Product
@{
    ViewData["Title"] = "Products";
    ViewData["HeaderTitle"] = "Manage Products";
    List<LiteCommerce.DomainModels.ProductAttribute> listAttribute = (List<LiteCommerce.DomainModels.ProductAttribute>)ViewData["listAttribute"];
}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Product</a></li>
        <li><a href="#tab_2" data-toggle="tab">Product Attribute</a></li>
        <li class="pull-right"><a href="~/Product">Back to list</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <form enctype="multipart/form-data" action="~/Product/Input/@LiteCommerce.Common.ViewHelper.MaybeID(@Model.ProductID)" method="POST" role="form">
                <input name="ProductID" value="@Model.ProductID" readonly hidden/>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label>Product Name: @Html.ValidationMessage("ProductName", new { @style="color: #FF0000" }) </label>
                            <input name="ProductName" value="@Model.ProductName" type="text" class="form-control" placeholder="Enter product Name">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Supplier: @Html.ValidationMessage("SupplierID", new { @style="color: #FF0000" })</label>
                                <select class="form-control" name="SupplierID">
                                    @foreach (var supplier in LiteCommerce.SelectListHelper.Suppliers())
                                    {
                                        if(Model.SupplierID == Convert.ToInt32(supplier.Value)) {
                                            <option value="@supplier.Value" selected>@supplier.Text</option>
                                        } else {
                                            <option value="@supplier.Value">@supplier.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Category: @Html.ValidationMessage("CategoryID", new { @style="color: #FF0000" })</label>
                                <select class="form-control" name="CategoryID">
                                    @foreach (var category in LiteCommerce.SelectListHelper.Categories())
                                    {
                                        if(Model.CategoryID == Convert.ToInt32(category.Value))
                                            {
                                            <option value="@category.Value" selected>@category.Text</option>
                                        } else 
                                        {
                                            <option value="@category.Value">@category.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Quantity/Unit:</label>
                                <input name="QuantityPerUnit" value="@Model.QuantityPerUnit" type="text" class="form-control" placeholder="Quantity/Unit">
                            </div>
                            <div class="col-sm-6">
                                <label>Unit price:</label>
                                <input name="UnitPrice" value="@Model.UnitPrice" type="number" class="form-control" placeholder="Unit price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="Descriptions" class="form-control" rows="10" placeholder="Enter description">@Model.Descriptions</textarea>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <img id="avatar" class="img-thumbnail" src="@LiteCommerce.Common.ViewHelper.EitherPhotoPathOrDefault(@Model.PhotoPath, LiteCommerce.Common.Constants.NoImagePath)" alt="user">
                            <input id="PhotoPath_file" type="file" name="PhotoPath" value="@Model.PhotoPath" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <a class="btn btn-sm btn-default" href="~/Product">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
        <!-- /.tab-pane -->

        <div class="tab-pane" id="tab_2">
            <div class="text-right" style="margin-bottom: 14px;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                    Add Attribute
                </button>
            </div>

            <!-- Edit attribute -->
            <form id="edit-attribute" action="~/Product/Attribute/@LiteCommerce.Common.ViewHelper.MaybeID(@Model.ProductID)" method="POST"  role="form">
                @for (int i = 0; i < listAttribute.Count; i++)
                {
                    @Html.TextBoxFor(m => listAttribute[i].AttributeID,
                                new { @type="text", @class="form-control", @placehoder="Input search value...", @readonly = "readonly", @style = "display: none;"})
                    @Html.TextBoxFor(m => listAttribute[i].ProductID,
                                new { @type="text", @class="form-control", @placehoder="Input search value...", @readonly = "readonly", @style = "display: none;"})
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Attribute name</label>
                            @Html.TextBoxFor(m => listAttribute[i].AttributeName,
                                new { @type="text", @class="form-control", @placehoder="Input search value..."})
                        </div>
                        <div class="col-sm-6">
                            <label>Attribute value</label>
                            @Html.TextBoxFor(m => listAttribute[i].AttributeValues,
                                new { @type="text", @class="form-control", @placehoder="Input search value..."})
                        </div>
                        <div class="col-sm-2">
                            <label>Display order</label>
                            @Html.TextBoxFor(m => listAttribute[i].DisplayOrder,
                                new { @type="text", @class="form-control", @placehoder="Input search value..."})
                        </div>
                        <div class="col-sm-1">
                            <label></label>
                            <a id="delete-attribute" type="button" href="~/Product/Attribute/@LiteCommerce.Common.ViewHelper.MaybeID(@Model.ProductID)?attributeID=@listAttribute[i].AttributeID" class="btn btn-default" style="margin-top: 24px;">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                    </div>
                }
                <div class="box-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <a class="btn btn-sm btn-default" href="~/Product">
                        Cancel
                    </a>
                </div>
            </form>

            <!-- Add attribute modal -->
            <div class="modal fade" id="modal-default" style="display: none;">
                <div class="modal-dialog">
                    <form action="~/Product/Input/@LiteCommerce.Common.ViewHelper.MaybeID(@Model.ProductID)?query=AddAttribute" method="POST" role="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Add attribute</h4>
                            </div>
                            <div class="modal-body">
                                <input name="ProductID" value="@Model.ProductID" type="text" hidden readonly>
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <label>Attribute name</label>
                                        <input name="AttributeName" value="" type="text" class="form-control" placeholder="Enter attribute name">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Display order</label>
                                        <input name="DisplayOrder" value="" type="number" class="form-control" placeholder="Enter order">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label>Attribute value</label>
                                        <textarea name="AttributeValues" class="form-control" rows="10" placeholder="Enter attribute value"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>