@{
    ViewData["Title"] = "Change password";
    ViewData["HeaderTitle"] = "Change password";

    string OldPassword = (string)ViewData["OldPassword"];
    string NewPassword = (string)ViewData["NewPassword"];
    string ReNewPassword = (string)ViewData["ReNewPassword"];
}

<div class="box box-primary">
    <form action="~/Account/ChangePassword" method="POST" role="form">
        <div class="box-body">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Old password: @Html.ValidationMessage("OldPassword", new { @style="color: #FF0000" }) </label>
                    <input name="OldPassword" value="@OldPassword" type="password" class="form-control" placeholder="Enter old password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>New password: @Html.ValidationMessage("NewPassword", new { @style="color: #FF0000" }) </label>
                    <input name="NewPassword" value="@NewPassword" type="password" class="form-control" placeholder="Enter new password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Retype new password: @Html.ValidationMessage("ReNewPassword", new { @style="color: #FF0000" }) </label>
                    <input name="ReNewPassword" value="@ReNewPassword" type="password" class="form-control" placeholder="Enter new password">
                </div>
            </div>
            @Html.ValidationMessage("Error", new { @style="color: #FF0000" }) 
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Change password
            </button>
            <a class="btn btn-sm btn-default" href="~/Supplier">
                Cancel
            </a>
        </div>
    </form>
</div>