@model LiteCommerce.DomainModels.Supplier

@{
    ViewData["Title"] = "Supplier";
    ViewData["HeaderTitle"] = "Add Suppliers";
}

<div class="box box-primary">
    <form action="~/Suppliers/Input" method="POST" role="form">
        <div class="box-header text-right">
            <a href="~/Suppliers">Back to List</a>
        </div>
        <input name="SupplierId" value="@Model.SupplierId" type="text" hidden readonly>
        <div class="box-body">
            <div class="form-group">
                <label>Company Name:</label>
                <input name="CompanyName" value="@Model.CompanyName" type="text" class="form-control" placeholder="Enter Company Name" autofocus>
                @Html.ValidationMessage("CompanyName", new { @class="help-block" })
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Contact Name:</label>
                    <input name="ContactName" value="@Model.ContactName" type="text" class="form-control" placeholder="Contact Name">
                    @Html.ValidationMessage("ContactName", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-6">
                    <label>Contact Title:</label>
                    <input name="ContactTitle" value="@Model.ContactTitle" type="text" class="form-control" placeholder="Ex: Sale Manager">
                </div>
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input name="Address" value="@Model.Address" type="text" class="form-control" placeholder="Address">
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Country:</label>
                    <select class="form-control" name="Country">
                        @foreach (var country in LiteCommerce.SelectListHelper.Countries())
                        {
                            <option value="@country.Value">@country.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label>City:</label>
                    <input name="City" value="@Model.City" type="text" class="form-control" placeholder="Ex: New Orleans">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Phone:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input name="Phone" value="@Model.Phone" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Fax:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fax"></i>
                        </div>
                        <input name="Fax" value="@Model.Fax" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Home page:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-link"></i>
                    </div>
                    <input name="HomePage" value="@Model.HomePage" type="text" class="form-control" placeholder="ex: http://company.com">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Suppliers">
                Cancel
            </a>
        </div>
    </form>
</div>