@using Microsoft.AspNetCore.Html
@model LiteCommerce.Models.OrderPaginationResult

@{
    ViewData["Title"] = "Orders";
    ViewData["HeaderTitle"] = "Manage Orders";
    int i = (Model.Page - 1) * Model.PageSize;
    string OptionalQuery = MaybeCountryQuery(Model.selectedCountry)
                                + MaybeEmployeeQuery(Model.selectedCategory) 
                                + MaybeCategoryQuery(Model.selectedCategory)
                                + MaybeShipperQuery(Model.selectedShipper);
}
@functions{
    public string MaybeCountryQuery(string country)
    {
        return !string.IsNullOrEmpty(country)
            ? $"&country={country}"
            : "";
    }
    public string MaybeEmployeeQuery(string employee)
    {
        return !string.IsNullOrEmpty(employee)
            ? string.Format("&employee={0}", employee)
            : "";
    }
    public string MaybeCategoryQuery(string category)
    {
        return !string.IsNullOrEmpty(category)
            ? string.Format("&category={0}", category)
            : "";
    }
    public string MaybeShipperQuery(string shipper)
    {
        return !string.IsNullOrEmpty(shipper)
            ? string.Format("&shipper={0}", shipper)
            : "";
    }
}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Orders" method="GET" >
            <div class="form-group row">
                <div class="col-sm-2">
                    <label>Countries</label>
                    <select class="form-control" name="country">
                        @foreach (var country in LiteCommerce.SelectListHelper.Countries())
                        {
                            if(Model.selectedCountry == country.Value)
                            {
                                <option value="@country.Value" selected>@country.Text</option>
                            } else {
                                <option value="@country.Value">@country.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Categories</label>
                    <select class="form-control" name="category">
                        @foreach (var category in LiteCommerce.SelectListHelper.Categories())
                        {
                            if(Model.selectedCategory == category.Value)
                            {
                                <option value="@category.Value" selected>@category.Text</option>
                            } else 
                            {
                                <option value="@category.Value">@category.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Employees</label>
                    <select class="form-control" name="employee">
                        @foreach (var employee in LiteCommerce.SelectListHelper.Employees())
                        {
                            if(Model.selectedEmployee == employee.Value)
                            {
                                <option value="@employee.Value" selected>@employee.Text</option>
                            } else 
                            {
                                <option value="@employee.Value">@employee.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Shippers</label>
                    <select class="form-control" name="shipper">
                        @foreach (var shipper in LiteCommerce.SelectListHelper.Shippers())
                        {
                            if(Model.selectedShipper == shipper.Value)
                            {
                                <option value="@shipper.Value" selected>@shipper.Text</option>
                            } else 
                            {
                                <option value="@shipper.Value">@shipper.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-block btn-default text-primary" style="margin-top: 24px;"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<form id="delete-selected" action="~/Orders/Delete" method="POST">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> @LiteCommerce.Common.ViewHelper.EitherSingularOrPluralWord(Model.RowCount, "order", "orders"). Page <b>@string.Format("{0}/{1}", Model.Page, Model.PageCount)</b>
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Orders/New" class="btn btn-sm btn-primary">Add Order</a>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:50px">#</th>
                        <th style="width:auto">Order ID</th>
                        <th style="width:auto">Customer</th>
                        <th style="width:auto">Employee</th>
                        <th style="width:auto">Shipper</th>
                        <th style="width:auto">Freight</th>
                        <th style="width:auto">Date</th>
                        <th style="width:150px">Address</th>
                        <th style="width:90px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Data)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td><p title="OrderID">@order.OrderID</p></td>
                            <td><p title="Customer">@order.Customer.CompanyName</p></td>
                            <td><p title="Employee">@order.Employee.FirstName @order.Employee.LastName</p></td>
                            <td><p title="Shipper">@order.Shipper.CompanyName</p></td>
                            <td><p title="Freight">@order.Freight</p></td>
                            <td>
                                <span style="display:block" title="OrderDate">@string.Format("{0:dd/MM/yyyy}", order.OrderDate)</span>
                                <span style="display:block" title="RequiredDate">@string.Format("{0:dd/MM/yyyy}", order.RequiredDate)</span>
                                <span style="display:block" title="ShippedDate">@string.Format("{0:dd/MM/yyyy}", order.ShippedDate)</span>
                            </td>
                            <td>
                                <span style="display:block" title="ShipAddress">@order.ShipAddress</span>
                                <span style="display:block" title="ShipCity">@order.ShipCity</span>
                                <span style="display:block" title="ShipCountry">@order.ShipCountry</span>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Orders/Review/@order.OrderID/">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a class="btn btn-sm btn-default" href="~/Orders/AddProduct/@order.OrderID/">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                @LiteCommerce.Common.ViewHelper.RenderPageButton("Orders", Model.Page, Model.PageCount, 3, Model.SearchValue, OptionalQuery)
            </ul>
        </div>
    </div>
</form>