@{
    ViewData["Title"] = "Add order";
    ViewData["HeaderTitle"] = "Add order";
}

<div class="box box-primary">
    <form action="~/Orders/New" method="POST" role="form">
        <div class="box-header text-right">
            <a href="~/Orders">Back to List</a>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Customers:</label>
                    <select class="form-control" name="CustomerID">
                        @foreach (var customer in LiteCommerce.SelectListHelper.Customers())
                        {
                            <option value="@customer.Value">@customer.Text</option>
                        }
                    </select>
                    @Html.ValidationMessage("CustomerID", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>Employees:</label>
                    <select class="form-control" name="EmployeeID">
                        @foreach (var employee in LiteCommerce.SelectListHelper.Employees())
                        {
                            <option value="@employee.Value">@employee.Text</option>
                        }
                    </select>
                    @Html.ValidationMessage("EmployeeID", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>Shippers:</label>
                    <select class="form-control" name="ShipperID">
                        @foreach (var shipper in LiteCommerce.SelectListHelper.Shippers())
                        {
                            <option value="@shipper.Value">@shipper.Text</option>
                        }
                    </select>
                    @Html.ValidationMessage("ShipperID", new { @class="help-block" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Order date:</label>
                    <input type="date" name="OrderDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" class="form-control" placeholder="Order date">
                    @Html.ValidationMessage("OrderDate", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>Required date:</label>
                    <input type="date" name="RequiredDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" class="form-control" placeholder="Required date">
                    @Html.ValidationMessage("RequiredDate", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>Shipped date:</label>
                    <input type="date" name="ShippedDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" class="form-control" placeholder="Shipped date">
                    @Html.ValidationMessage("ShippedDate", new { @class="help-block" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Freight: </label>
                    <input name="Freight" type="number" value="" type="text" class="form-control" placeholder="Enter freight">
                    @Html.ValidationMessage("Freight", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>Countries:</label>
                    <select class="form-control" name="ShipCountry">
                        @foreach (var country in LiteCommerce.SelectListHelper.Countries())
                        {
                            <option value="@country.Value">@country.Text</option>
                        }
                    </select>
                    @Html.ValidationMessage("ShipCountry", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>City:</label>
                    <input name="ShipCity" value="" type="text" class="form-control" placeholder="City">
                    @Html.ValidationMessage("ShipCity", new { @class="help-block" })
                </div>
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input name="ShipAddress" value="" type="text" class="form-control" placeholder="Address">
                @Html.ValidationMessage("ShipAddress", new { @class="help-block" })
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Products:</label>
                    <select class="form-control" name="OrderProduct">
                        @foreach (var country in LiteCommerce.SelectListHelper.Products())
                        {
                            <option value="@country.Value">@country.Text</option>
                        }
                    </select>
                    @Html.ValidationMessage("OrderProduct", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>Quantity:</label>
                    <input name="Quantity" value="" type="number" class="form-control" placeholder="Quantity">
                    @Html.ValidationMessage("Quantity", new { @class="help-block" })
                </div>
                <div class="form-group col-sm-4">
                    <label>Discount:</label>
                    <input name="Discount" value="" type="number" class="form-control" placeholder="Discount">
                    @Html.ValidationMessage("Discount", new { @class="help-block" })
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Supplier">
                Cancel
            </a>
        </div>
    </form>
</div>